@font-face {
    font-family: "Digital";
    src        : url("fonts/DS-DIGI.TTF") format("truetype");
}

@font-face {
    font-family: "Comic Book";
    src        : url("fonts/Comic_Book.woff") format("woff");
}

.left {
    text-align: left;
}

.page {
    margin: auto;
    max-width: 1000px;
}